/* Overlay Start */

.overlay-text {  
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-one);
  transition: background-color 500ms, font-size 500ms;
  font-size: 6em;
  width: 100%;
  height: inherit;
  position: fixed;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-align: center;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: block;
  animation: overlay-grow 500ms forwards;
  position: absolute;
  left: 0;
  top: 0;
}

.overlay-text-words {
  position: relative;
  top: 25vh;
}

/* Overlay End */

.licence {
  text-align: center;
  padding-top: 1em;
}

.licence a {
  text-decoration: none;
  color: var(--color-five);
  font-size: 1em;
}

/* Timer and Clicks Start */

.game-info-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.game-info {
  color: #f4f7f5;
  font-size: 2em;
  padding: 0 15vw;
}

/* Timer and Clicks End */

/* Cards Start */

.game-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: .5em;
  justify-content: center;
  perspective: 500px;
}

@media screen and (orientation:landscape) {
  .game-container {
    grid-template-columns: repeat(8, auto);
  }
}

.card, .card-back {
  background-color: transparent !important;
}

.card-face {
  background-color: var(--color-five) !important;
}

.card {
  position: relative;
  cursor: grab;
  width: 4em;
  height: 5em;
  border: none !important;
}

.card:active {
  cursor: grabbing;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 5em;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg); 
}

.card.visible .card-front {
  transform: rotateY(0); 
}

.card.matched .card-front .card-value {
  animation: dance 1s ease-in-out infinite 500ms;
}

.card-back {
  background-color: #f4f7f5;
  border-color: var(--color-three);
  transform: rotateY(0); 
}

.brain {
  align-self: center;
  transition: transform 100ms ease-in-out;
  transform: translateY(-10px);
  width: 90%;
  height: auto;
}

.card-back:hover .brain {
  transform: translateY(0);
}

.card-value {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(.8);
}

.card-front:hover .card-value {
  transform: scale(1);
}

.card-front {
  background-color: #f4f7f5;
  border-color: #f4f7f5;
  transform: rotateY(180deg);
}

.card-front img {
  width: 200%;
  height: auto;
}

@keyframes dance {
  0%, 100% {
    transform: scale(1)
  }
  25% {
    transform: scale(.8)
  }
  75% {
    transform: scale(.8)
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(255, 255, 255, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(255, 255, 255, .8);
    font-size: 6em;
  }
}

/* Card Media Queries */

@media screen and (orientation: portrait) {
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
    .licence a {
      font-size: 1em;
    }

    .card-face {
      height: 10em;
      width: 6em;
    }

    .game-container {
      grid-gap: 3em;
      height: 70%;
    }
  }
}

@media screen and (orientation: portrait) {
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 240px to 767px
  */

  @media (min-width: 240px) and (max-width: 767px) {
    .licence a {
      font-size: .5em;
    }

    .card-face {
      height: 5em;
      width: 3em;
    }

    .game-container {
      grid-gap: 2em;
      height: 70%;
    }
  }
}

/*****************************************************Landscape*/
/* 
  ##Device = galaxay fold landscape
  ##Screen = B/w 653
*/
@media screen and (orientation: landscape) {
  @media (min-width: 652px) and (max-width: 655px) {
    .licence a {
      font-size: .5em;
    }
  }

  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {
    .licence a {
      font-size: .5em;
    }
  }
}
/* Cards End */

/* Game Volume Controls Start */

.volume-container {
  margin: 0 auto;
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1em;
  color: var(--color-five);
  font-size: 1.5em !important;
  justify-content: center;
}

.item1, .item3 {
  grid-column: 1;
}

.item2, .item4 {
  grid-column: 3;
}

.volSwitch, .fxSwitch {
  background-color: white;
  width: 4vw;
  height: 2vw;
  position: relative;
  display: inline-block;
  border-radius: 30vw;
  cursor: pointer;
  user-select: none;
}

input:checked + .volSwitch::before, input:checked + .fxSwitch::before {
  background-color: white;
}

.volSwitch::before, .volSwitch::after, .fxSwitch::before, .fxSwitch::after {
  content:'';
  width:2vw;
  height:2vw;
  position:absolute;
  border-radius:50%;
  background-color: #ccc;
  top: 0%;
  left: 0%;
  transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), 150ms ease;
}

input:checked + .volSwitch:after, input:checked + .fxSwitch:after {
  background: #2196F3;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
}

/* Game Volume Controls End */