/********************************** Base Styling Start */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root {
    --color-one: #ff7f00;
    /* RGB value (255,127,0) */
    --color-two: #00819f;
    /* RGB value (0,129,159) */
    --color-three: #d9005f;
    /* RGB value (217,0,95) */
    --color-four: #4da100;
    /* RGB value (77,161,0) */
    --color-five: #f4f7f5;
    /* RGB value (244,247,245) */
    --color-six: #24343f;
    /* RGB value (36,52,63) */
    --margin: 1em;
    --card-width: 10%;
}

body {
    background: linear-gradient(#ff7f00, #00819f, #d9005f, #4da100);
    user-select: none !important;
    font-family: 'Montserrat Alternates', sans-serif;
    /* width: 100% !important; */
}

p,
h1,
h2,
h3,
h4,
h5,
a {
    color: var(--color-five);
}

/* cmt adds custom value to bootstrap mt (margin-top) class */

.cmt-1 {
    margin-top: calc(var(--margin) * 5) !important;
}

.cmt-2 {
    margin-top: calc(var(--margin) * 10) !important;
}

.cmt-3 {
    margin-top: calc(var(--margin) * 15) !important;
}

.cmt-4 {
    margin-top: calc(var(--margin) * 20) !important;
}

.cmt-5 {
    margin-top: calc(var(--margin) * 25) !important;
}

.cmt-6 {
    margin-top: calc(var(--margin) * 30) !important;
}

/************************************ Base Styling End */


/**************************************** Header Start */

header {
    background-color: var(--color-six);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 4em;
    padding: 1em;
    margin: 0;
    z-index: 998;
}

#top-nav {
    display: inline;
    float: right;
    margin: 0;
}

#top-nav a {
    text-decoration: none;
    color: var(--color-five);
    opacity: 1 !important;
    position: relative;
    font-size: 1.5vh;
    margin-left: 1em;
}

.nav-scrolled {
    border-color: var(--color-five);
    border-bottom-style: solid;
    border-width: 3px;
}

#top-nav a:hover {
    border-color: var(--color-five);
    border-bottom-style: solid;
    border-width: 3px;
    color: var(--color-five);
}

/* On screens that are 400px or less, set the top-nav to 100% width */
@media screen and (max-width: 400px) {

    .nav-link {
        padding-left: 0.2em !important;
        padding-right: 0.2em !important;
    }

}

/* On screens that are 385px or less, set the top-nav to 100% width */
@media screen and (max-width: 400px) {

    body {
        width: revert !important;
        width: -webkit-fill-available !important;
    }

}

/****************************************** Header End */

/****************************************** Main Start */

main {
    user-select: none !important;
}

/**** Main Start ****/

.intro img {
    width: 35vw;
    height: auto;
}

/**** How To Play Start ****/

.rule_list_text {
    margin-top: 2.5em !important;
}

.how_to_play img {
    width: 75%;
    height: auto;
    margin-left: auto !important;
    margin-right: auto !important;
}

/**** Game Launch Button Start ****/

.btn-container {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}

.btn-sub-container {
    width: 100%;
}

.game-btn {
    width: 20em;
    height: 20em;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: rgba(244, 247, 245, .5) !important;
    border: none;
    transition-duration: 0.4s;
}

@keyframes spring {
    0% {
        transform: scale(1) translateY(0);
    }

    10% {
        transform: scale(1.1, 0.6);
    }

    30% {
        transform: scale(0.8, 1.1) translateY(-10px);
    }

    50% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.spring {
    animation: spring 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.game-btn p {
    display: block;
    float: left;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: var(--color-six);
    font-family: Verdana;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.game-btn:hover {
    background-color: rgba(36, 52, 63, .5) !important;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.game-btn p:hover {
    color: var(--color-five) !important;
}

.game-btn:active {
    cursor: grabbing !important;
    transform: translateY(1em);
}

/******************************************* Main End */

/***************************************** Form Start */

label {
    color: var(--color-five);
}

/* On screens that are 1000px or less, set the contact-btn to 25% width */

.contact-btn {
    width: 25% !important;
}

/******************************************* Form End */

/*************************************** Footer Start */

footer {
    margin-top: 10rem;
}

footer p {
    line-height: 5.5em;
    font-size: medium;
    font-weight: 600;
}

footer ul {
    list-style-type: none;
    line-height: 5.5em;
    display: flex;
    justify-content: center;
}

footer ul a {
    text-decoration: none;
    font-size: x-large;
    margin: 0 .5em 0 .5em;
}

footer p,
footer ul a {
    color: var(--color-five);
}

footer ul a:hover {
    color: var(--color-six);
}

/***************************************** Footer End */

/*********************************************************** 404 Page Start */

.error404_body {
    background: unset;
    background-color: white;
    text-align: center;
}

.error404_body main {
    margin-top: 10vh;
}

.error404_img {
    width: auto;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.error404_attribution {
    text-decoration: none;
    color: var(--color-six);
    font-size: x-small;
}

.error404_attribution:hover {
    color: #dca000;
}

.error404_footer p, .error404_footer ul a {
    color: var(--color-six);
}

.error404_footer ul a:hover {
    color: #dca000;
}

.error404_footer {
    margin-top: 10vh;
}

/************************************************************* 404 Page End */