/********************************** Base Styling Start */
:root {
    --color-one: #d9005f; /* RGB value (217,0,95) */
    --color-two: #ff7f00; /* RGB value (255,127,0) */
    --color-three: #00819f; /* RGB value (0,129,159) */
    --color-four: black; 
    --color-five: #f4f7f5; /* RGB value (244,247,245) */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-two);
    user-select: none !important;
}

/************************************ Base Styling End */


/**************************************** Header Start */

/**** Full Nav Bar ****/

header {
    position: fixed;
    float: left;
    /* background-color: var(--color-two); */
    background: linear-gradient(#ff7f00);
    height: 5em;
    width: 100%;
    z-index: 200;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.main_nav {
    display: block;
}

/**** Hamburger Menu ****/

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 *
 * NOTE: All code below is made by the above unless otherwise stated with word 'Original'
 */

#menuToggle {
    display: block;
    position: absolute;
    top: 2em; /* Original: Changed from px to em  */
    left: 2em; /* Original: Changed from px to em  */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;   
    transition: color 0.3s ease;
}
 
#menuToggle a:hover {
    color: tomato;
}
  
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
}
 
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;   
    background: var(--color-five); /* Original: Changed color  */
    border-radius: 3px;   
    z-index: 1;   
    transform-origin: 4px 0px;   
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               /* background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), */
               opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
 
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
 
/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}
 
/* Hide the middle slice */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
 
/* Change direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu {
    position: absolute;
    /* Original: Changed from px to vw and to full width  */
    width: 100vw;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    /* 
    * Original: Changed from standard color 
    * to linear gradient to add opacity to remaining 
    * view of page  
    */
    background: linear-gradient(to right,
    #ededed 20%, rgba(237, 237, 237, 0.9) 20% 100%);
    list-style-type: none;
    /* to stop flickering of text in safari */
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    min-height: 100vh; /* Original: added full page height  */
    
    overflow: hidden;

}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    width: 200px;
}
 
/* Slide it in from the left */
#menuToggle input:checked ~ ul {
    transform: none;
}

/**** Links ****/

.main_nav .head_links {
    position: absolute;
    right: 0;
    padding-right: 3em;
}

.head_links {
    top: 2em;
}

.head_links li {
    list-style: none;
    display: inline;
    word-spacing: 3em;
    padding-left: 3em;
}

.head_links a {
    text-decoration: none;
    color: var(--color-five);
}

.active {
    background-color: red;
}

.head_links a:hover {
    color: var(--color-three);
}

/****************************************** Header End */

/****************************************** Main Start */

main {
    float: left;
    margin-top: 5em;
    position: relative;
    width: 100%;
    user-select: none !important;
}

/**** Main Start ****/

.intro {
    text-align: center;
    line-height: 20vh;
    background: linear-gradient(#ff7f00, #00819f);
}

.intro h1 {
    font-size: 15rem;
    padding-top: 1em;
}

.intro h2 {
    font-size: 10rem;
    padding-top: 1em;
    padding-bottom: 1em;
}

.intro h2:last-of-type {
    padding-bottom: 4em;
}

.intro h3 {
    font-size: 3rem;
    padding-bottom: 10em;
}

/**** How To Play Start ****/

.how_to_play {
    width: 100%;
    background: linear-gradient(#00819f, yellowgreen);
    color: var(--color-five);
    padding: 20rem 0;
    float: left;
    min-height: max-content;
}

.rule_list {
    width: 50%;
    float: left;
    font-size: 4rem;
    text-align: center;
}

.rule_list_title {
    font-size: 5rem;
}

.rule_list_number {
    font-family: 'digitsregular', Arial, sans-serif;
    margin-top: 5rem;
}

.rule_list_number:nth-of-type(2)::before {
    content: "A";
    margin-right: 20px;
}

.rule_list_number:nth-of-type(3)::before {
    content: "2";
    margin-right: 20px;
}

.rule_list_number:nth-of-type(4)::before {
    content: "C";
    margin-right: 20px;
}

.rule_list_text {
    font-family: initial;
}

.rule_list_images {
    width: 50%;
    float: left;
    margin-top: -4rem;
}

.rule_list_images img {
    display: inline-block;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.rule_list_images img:last-of-type {
    display: inline-block;
    width: 44rem;
    margin-left: auto;
    margin-right: auto;
}

.rule_list_guide {
    width: 100%;
    clear: both;
    padding-top: 10rem;
}

.rule_list_guide div {
    width: 45%;
    display: inline-block;
}

.rule_list_guide_icon {
    font-family: 'digitsregular', Arial, sans-serif;
    font-size: 4rem;
    text-align: right;
    width: 95%;
}

.rule_list_guide_text {
    text-align: left;
    width: 95%;
}
/**** Game Area Start ****/

.game {
    background: linear-gradient(yellowgreen, #d9005f);
    padding: 20rem 0;
    width: 100%;
    float: left;
    display: block;
    min-height: max-content;
}

/******************************************* Main End */

/*************************************** Footer Start */

footer {
    float: left;
    background-color: #d9005f;
    min-height: min-content;
    padding: 5rem 0;
}

/***************************************** Footer End */

.tag {
    opacity: 1;
    transition: 0.1s;
}

.hidden {
    opacity: 0;
    transition: 0.1s;
}