/********************************** Base Styling Start */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root {
    --color-one: #ff7f00; /* RGB value (255,127,0) */
    --color-two: #00819f; /* RGB value (0,129,159) */
    --color-three: #d9005f; /* RGB value (217,0,95) */
    --color-four: #4da100; /* RGB value (77,161,0) */
    --color-five: #f4f7f5; /* RGB value (244,247,245) */
    --color-six: #24343f; /* RGB value (36,52,63) */
    --margin: 1em;
}

body {
    background: linear-gradient(#ff7f00, #00819f, #d9005f, #4da100);
    user-select: none !important;
    font-family: 'Montserrat Alternates', sans-serif;
    /* width: 100% !important; */
}

p, h1, h2, h3, h4, h5, a {
    color: var(--color-five);
}

/* cmt adds custom value to bootstrap mt (margin-top) class */

.cmt-1 {
    margin-top: calc(var(--margin) * 5) !important;
}

.cmt-2 {
    margin-top: calc(var(--margin) * 10) !important;
}

.cmt-3 {
    margin-top: calc(var(--margin) * 15) !important;
}

.cmt-4 {
    margin-top: calc(var(--margin) * 20) !important;
}

.cmt-5 {
    margin-top: calc(var(--margin) * 25) !important;
}

/************************************ Base Styling End */


/**************************************** Header Start */

header {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 1em;
}

/* Override Bootstrap Styling */

.nav-pills .nav-link {
    color: var(--color-five);
}

.nav-pills .nav-link:hover {
    color: var(--color-six);
}

.nav-pills .nav-link.active {
    background-color: var(--color-six) !important;
    color: var(--color-five) !important;
}

/****************************************** Header End */

/****************************************** Main Start */

main {
    user-select: none !important;
}

/**** Main Start ****/

#intro img {
    width: 15vw;
    height: auto;
}

/**** How To Play Start ****/

.rule_list_number {
    font-family: 'digitsregular', Arial, sans-serif;
}

.rule_list_number:nth-of-type(2)::before {
    content: "A";
}

.rule_list_number:nth-of-type(3)::before {
    content: "b";
}

.rule_list_number:nth-of-type(4)::before {
    content: "C";
}

.rule_list_number:nth-of-type(5)::before {
    content: "d";
}

.rule_list_number:nth-of-type(6)::before {
    content: "E";
}

.rule_list_number:nth-of-type(7)::before {
    content: "f";
}

.rule_list_text {
    font-family: initial;
}

.rule_list_guide_icon {
    font-family: 'digitsregular', Arial, sans-serif;
}

/**** Game Area Start ****/

/* aside {
    margin: auto;
    width: 90%;
    display: table;
    padding-top: 20rem;
} */

/******************************************* Main End */

/******************************************* Form End */

label {
    color: var(--color-five);
}

/******************************************* Form End */

/*************************************** Footer Start */

footer {
    margin-top: 10rem;
}

footer p {
    line-height: 5.5em;
    font-size: medium;
    font-weight: 600;
}

footer ul {
    list-style-type: none;
    line-height: 5.5em;
    display: flex;
    justify-content: center;
}

footer ul a {
    text-decoration: none;
    font-size: x-large;
    margin: 0 .5em 0 .5em;
}

footer p, footer ul a {
    color: var(--color-five);
}

/***************************************** Footer End */

/* On screens that are 400px or less, set the top-nav to 100% width */
@media screen and (max-width: 400px) {

    .nav-link{
        padding-left: 0.2em !important;
        padding-right: 0.2em !important;        
    }

  }

/* On screens that are 385px or less, set the top-nav to 100% width */
@media screen and (max-width: 400px) {

    body{
        width: revert !important;
        width: -webkit-fill-available !important;    
    }

  }

/* On screens that are 1000px or less, set the contact-btn to 25% width */


    .contact-btn {
        width: 25% !important;  
    }


